@import './element-ui.scss'; // import before custom css
@import './animations.scss';
@import './transitions.scss';

html {
  --color-primary: #2fd8ca;

  --color-text-primary: #ffffff;
  --color-text-primary-inverse: #091225;

  --background-color-base: #091225;
  --background-color-base-inverse: #ffffff;

  --background-image: linear-gradient(327deg, #{rgba(#3ec7eb, 0.5)} 0, #{rgba(#3ec7eb, 0)} 100%);
}

body {
  background: var(--background-color-base);
  color: var(--color-text-primary);
  font-family: 'Avenir', 'PingFang SC', 'Helvetica Neue', Helvetica, 'Hiragino Sans GB', Arial,
    sans-serif;
}
